@media print {
  .print\:text-right {
    text-align: right !important;
  }
  .text-right {
    text-align: right !important;
  }
}

.virtual-table-body {
  position: relative;
  width: 100%;
}

.virtual-table-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

input[type="number"].no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

