@media print {
  @page {
    size: 58mm 297mm;
    margin: 0mm;
  }
  body {
    padding: 0;
    margin: 0;
    font-size: 8px;
  }
  table {
    font-size: 7px;
  }
  h1,
  h2,
  h3 {
    font-size: 10px;
    margin-top: 8px;
  }
  button,
  .print-hidden {
    display: none !important;
  }
  .print-name {
    font-size: 8px;
    font-weight: bold;
    text-align: center;
  }
  .print-receipt-no {
    font-size: 8px;
    text-align: center;
  }
  .print-items {
    margin-top: 8px;
    text-align: right;
    font-weight: bold;
  }
}
